<!doctype html>
<html lang="en">
<head>

    <style type="text/css">

        iframe {
            min-height: 450px;
            width: 100%;
        }

        textarea {
            min-height: 250px;
            width: 100%;
        }

    </style>

</head>
<body>

    <header>

        <h1>{{ subject }}</h1>

        <div id="headers">

            <h2>Headers</h2>

            <dl>
                {% for name, value in headers %}
                    <dt>{{ name }}</dt>
                    <dd>{{ value }}</dd>
                {% endfor %}
            </dl>

        </div>

    </header>

    {% if html %}

        <section id="body-html">

            <h2>HTML Body (Preview)</h2>

            <iframe src="data:text/html;base64,{{ escaped_html }}"></iframe>

        </section>

        <section id="html-raw">

            <h2>HTML Body (Raw)</h2>

            <textarea>{{ html|escape }}</textarea>

        </section>

    {% endif %}

    <section id="body-plain">

        <h2>Body (Text)</h2>

        {{ body|linebreaks }}

    </section>

    <section id="raw">

        <h2>Raw Message</h2>

        <pre>{{ raw }}</pre>

    </section>

</body>
</html>
