<!doctype html>
<html lang="en">
<head>

    {% load mailviews %}

    <link rel="stylesheet" type="text/css" href="{% mailviews_static 'mailviews/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% mailviews_static 'mailviews/css/mailviews.css' %}" />

    <script type="text/javascript" src="{% mailviews_static 'mailviews/javascript/jquery.js' %}"></script>
    <script type="text/javascript" src="{% mailviews_static 'mailviews/javascript/bootstrap-tab.js' %}"></script>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Preview</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if html %}
                <li><a href="#html">HTML</a></li>
              {% endif %}
              <li><a href="#body-plain">Text</a></li>
              <li><a href="#raw">Raw</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        <div class="page-header">
            <h1>{{ subject }}</h1>
        </div>

        <header>

            <div id="headers">

                <table class="table table-striped table-condensed">
                    {% for name, value in headers %}
                        <tr>
                            <th>{{ name }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>

        </header>

        {% if html %}

        <div id="html">

            <h2>HTML</h2>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#body-html" data-toggle="tab">Preview</a></li>
                <li><a href="#html-raw" data-toggle="tab">Source</a></li>
            </ul>

            <div class="tab-content">

                <section id="body-html" class="tab-pane active">
                    <iframe src="data:text/html;base64,{{ escaped_html }}" frameborder="0" allowtransparency="true"></iframe>
                </section>

                <section id="html-raw" class="tab-pane">
                    <textarea>{{ html|escape }}</textarea>
                </section>

            </div>

        </div>

        {% endif %}

        <section id="body-plain">

            <h2>Text</h2>

            {% if body %}
                {{ body|linebreaks }}
            {% else %}
                <p class="alert">This message doesn't contain any text content.</p>
            {% endif %}

        </section>

        <section id="raw" class="last">

            <h2>Raw</h2>

            <pre>{{ raw }}</pre>

        </section>

    </div>

</body>
</html>
