{% extends "mailviews/base.html" %}

{% block container-class %}preview list{% endblock %}

{% block content %}

    <section id="message-list">

        {% for group in groups %}

            <h2><small>{{ group.module }}</small></h2>

            <table class="table">
                {% for preview in group.previews %}
                    <tr>
                        <th><a href="{{ preview.url }}">{{ preview }}</a></th>
                        <td class="description">{{ preview.description|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% endfor %}

    </div>

{% endblock %}
